h2{
    color: red;
    font-size: large;
    font-family: sans-serif;
    font-weight: 500;
    margin: 10px;
    padding: 10px;
    opacity: 30%;
    /* text-transform: uppercase; */
    /* text-align: right; */
    text-align: center;
    text-align: left;
}

p{
    text-transform: capitalize;
    text-decoration: underline;
    /* text-decoration: overline; */
    /* text-decoration: line-through; */
    /* text-decoration: solid; */
    /* text-align: left; */
}

.new1{
    /* background-color: aquamarine; */
    background-image: url(./images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: auto; */
    width: 100%;
    height: 100vh;
    background-position: center;
}

.play_with_letter1{
    text-decoration: none;
    color: black;
}

.change_w{
    /* color: darkmagenta; */
    color: red;
    text-transform: uppercase;
    font-size: 30px;
    font-family: sans-serif;
}

.apply_style_to_Tag{
    text-decoration: underline;
    color: green;
    font-family: cursive;
    font-style: italic;
    background-color: peachpuff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}

.play_with_letter{
    text-transform: uppercase;
    text-decoration: none;
    /* letter-spacing: 10px; */
    /* word-spacing: 50px; */
    /* text-align: center; */
    text-align: right;
}

.border_property{
    /* border-style: solid;
    border-width: 2px;
    text-decoration: none;
    border-radius: 5px;
    border-color: orange; */

    border: 5px solid red;
    text-decoration: none;
    border-radius: 10px;
}

.banner_image{
    width: 500px;
    height: 500px;
    /* float: right; */
    /* float: left; */
}

.display_prop{
    /* display: none; */
    /* visibility: hidden; */
}

.apply_position1{
    /* position: fixed; */
    /* position: absolute; */
    position: relative;
    top: 50px;
    left: 300px;
    bottom: 200px;
    left: 800px;
    margin-bottom: 100px;
}

.grid_container{
    display: grid;
    /* display: inline-grid; */
    /* grid-column-gap: 100px; */
    /* grid-row-gap: 100px; */
    grid-template-columns: auto auto auto;
    background-color: blue;
    padding: 50px;
    margin: 10px;
}

.grid_item{
    border-color: black;
    background-color: white;
    border-width: 1px;
    text-align: center;
    border-style: solid;
    font-size: 30px;
    padding: 20px;
}

.item1{
    /* grid-column-start: 1;
    grid-column-end: 3; */

    grid-row-start: 1;
    grid-row-end: 3;
}

.centrep{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.flex-container{
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-direction: row-reverse;
    padding: 10px;
    width: 80%;
    height: 500px;
}

.flex-item{
    background-color: white;
    padding: 20px;
    border: 1px;
    border-color: black;
    border-style: solid;
    text-align: center;
    margin: 30px;

}