h2{
    color: red;
    font-size: large;
    font-family: sans-serif;
    font-weight: 500;
    margin: 100px;
    padding: 10px;
    opacity: 30%;
    /* text-transform: uppercase; */
}

p{
    text-transform: capitalize;
    /* text-decoration: underline; */
    text-decoration: overline;
}